__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

node_modules/
dist/
build/

.env
.env.*

.vscode/
.idea/

*.log
.DS_Store
Thumbs.db
nova_memory.db
Nova-AI-Assistant/voice_input.wav
nvoice_input.wav
/voice_input.wav
